# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Editors
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
